<h1>Login Page</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@user, url: '/login') do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "email", required: true %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "password", required: true %>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
<% end %>
<a href="/sign_up">Sign up</a>
<a href="/forgot_password">Forgot password</a>