<h1>Reset Password Page</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@user, url: '/reset_password') do |f| %>
  <div>
    <%= f.password_field :password, placeholder: "new password", required: true %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: "new password_confirmation", required: true %>
  </div>
  <div>
    <input type="hidden" name="token" value="<%= params[:token] %>">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
<% end %>
<a href="/login">Login</a>